body {
    background-image: url('../img/meo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 0px auto;
    background-color: rgb(247, 223, 194);
    /* font-weight: bold; */
    font-family: Arial, Helvetica, sans-serif;
    height: 65px;
}

.mainMenu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mainMenu>li {
    width: 150px;
    text-align: center;
}

.mainMenu li a {
    color: rgb(87, 76, 64);
    display: block;
    /* left: -50px; */
    padding: 23px 20px;
    text-decoration: none;
}

.container>ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.logoImage {
    display: flex;
    align-items: center;
}


#logo>img {
    max-width: 55px;
    height: auto;
    background-color: aliceblue;
    border-radius: 50px;
    margin-top: 4px;
}

.mainMenu ul.subMenu {

    position: absolute;
    background-color: rgb(247, 223, 194);
    padding: 15px 0px;
    list-style: none;
    width: 150px;
    margin: 0;
    display: none;
}

.mainMenu li:hover>ul.subMenu {
    display: block;
    padding: 0px;
    border-top: 2px solid rgb(27, 9, 9);
    background-color: rgb(247, 223, 194);
}

.mainMenu ul.subMenu a {
    padding: 10px 20px;
    left: 150px;

}



.mainMenu ul.subMenu ul.subMenu {
    left: 150px;
    top: 0px;
    border: none;
}

/* phần tử cuối của submenu */
.mainMenu ul.subMenu li:last-child a {
    border: none;
    padding-bottom: 5%;
}

.mainMenu >li:hover {
    background-color: rgb(194, 186, 173);
    border-bottom: 2px solid rgb(27, 9, 9);

}

.mainMenu  li:hover >a {  
    color: rgb(15, 3, 3);
    font-weight: 600;
}



.mainMenu ul.subMenu li {
    background-color: none;
}

/* .mainMenu ul.subMenu li:hover::before {
    background-color: rgb(112, 87, 42);
} */

.mainMenu ul.subMenu li:hover>a {
    background-color: rgb(194, 186, 173);
    border-bottom: 2px solid rgb(27, 9, 9);
    color: rgb(27, 9, 9);

}


.search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* position: relative; */
    /* width: 250px; */

}

input {
    border-radius: 8%;
    width: 100%;
    height: 26px;
    padding: 0 35px 0 10px;
    /*chỗ bên phải cho icon*/
}

#text {
    padding: 5px 50px;
    padding-left: 4px;
    border-radius: 5px;
}

.search .icon {
    position: absolute;
    padding-right: 10px;
    /* transform: translateY(-px); */
    cursor: pointer;
    color: grey;


}

@media only screen and (max-width: 620px) {
    /* for phone */

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    body {
    background-image: url('../img/meo.png');
    background-size: cover;
    background-repeat: repeat;
    background-position-y: -100px;
    margin: 0;
}
}