body {
    background-image: url('../img/meo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px ;
} 
.container {
    display: flex;
    justify-content: space-around;
    max-width: 960px;
    margin: 0px auto;;
}
/* .sub > ul {
    display: flex;
} */
.container > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.container li {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.container li a {
    color: white;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

#logo {
    padding: 5px 0;
}

#logo > img {
    max-width: 80px;
    height: auto;
    background-color: aliceblue;
    border-radius: 50px;
}
.menu {

    background-color: black;
    
}
.menu ul.subMenu {
    
    position: absolute;
    background-color: black;
    padding: 15px 0px;
    list-style: none;
    width: 150px;
    /* display: none; */
}
.menu li:hover>ul.subMenu{
    display: block;
}

.menu ul.subMenu a {
    padding: 5px 20px;
    /* border-bottom: 1px solid; */
    left: 0;
}

.menu ul.subMenu ul.subMenu {
    left: 150px;
}

.menu ul.subMenu li:last-child a {
    border: none;

}
.menu ul.subMenu li:hover > a {
    border-bottom: 1px solid   rgb(148, 119, 119);
}
nav {
    display: flex;
    justify-content: space-around;
    justify-items: center;
}