@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700&display=swap');

html,
body {
    background-color: rgb(234, 222, 206);
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* loginForm bọc header và main */
#loginForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


/* SỬA CÁI HEADER NÀY */
.header {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0px auto;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    height: 65px;
    gap: 30px;

}

.textlogo {
    display: flex;
    align-items: center;
    gap: 3px;
    /* margin-right: 70px; */
    margin-top: 50px;

}

/* .text {
    border-bottom: 1px  black;
} */

.text>p {
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
}

.signUp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    margin-top: 50px;
    gap: 3px;
}

.sign {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3px;
}

.buttonSignUp {
    display: flex;
    align-items: center;
}

.buttonSignUp>button {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 10px;
    border-color: rgb(226, 185, 111);
    background-color: rgb(226, 185, 111);
    border-style: none;
    padding: 10px 15px;
    font-weight: 600;
}

.buttonSignUp>button:hover {
    background-color: rgb(217, 154, 38);
    font-weight: bold;
    cursor: pointer;
}

/* Main */

.main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}

.title>p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

#pOutput {
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}


.information {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.information p {
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

}

.information input {
    padding: 5px 10px;
}

input {
    margin-bottom: 10px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid gainsboro;
}



#signIn {
    width: 100%;
    height: 40px;
    background-color: rgb(226, 185, 111);
    border-radius: 5px;
    border: 1px solid rgb(226, 185, 111);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#signIn:hover {
    background-color: rgb(217, 154, 38);
    font-weight: 800;
    cursor: pointer;

}

.baSignMethod {
    display: flex;
    gap: 5px;
    width: 350px;

}

.baButton {
    width: 110px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gainsboro;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.baButton:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.fa-google {
    font-size: 18px;
}

.google {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.apple {
    display: flex;
    gap: 5px;
    align-items: center;
}

.facebook {
    display: flex;
    gap: 5px;
    align-items: center;
}

.fa-apple {
    font-size: 22px;
}

.fa-facebook {
    font-size: 20px;
}

.box {

    position: relative;
    max-width: 350px;
    padding: 60px 30px 30px;
    background: white;
    border-radius: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 5px 5px 10px gray;
}

#imgLogo {
    position: absolute;
    top: -30px;
    /*để avt trên box*/
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    max-width: 60px;
    height: auto;
    border-radius: 80%;
}

/* SIGN UP */
#signupBox {
    display: none;
    justify-content: center;
    align-items: center;
}

#signupForm {
    margin-top: 50px;
    display: flex;
    background-color: white;
    max-width: 800px;
    padding: 60px 30px 30px;
    border-radius: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    box-shadow: 5px 5px 10px gray;
}

.left {

    flex: 5
}

.desktop {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    z-index: 1;
}

.mobile {
    width: 100px;
    height: 100px;
    object-fit: cover;
    z-index: -1;
    border-radius: 50%;
}

.form-right {
    display: none;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.form-wrapper p {
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

}
.right p {
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.right p a {
    text-decoration: none;
}
.right p a:hover {
    color: rgb(51, 6, 94);
    font-weight: 800;

}

.form-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.form-leftChild {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
}



.form-left input {
    padding: 5px 10px;
    margin-bottom: 10px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    

}
.form-left > button {
    width: 100%;
    height: 40px;
    background-color: rgb(226, 185, 111);
    border-radius: 5px;
    border: 1px solid rgb(226, 185, 111);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.form-left > button:hover {
    background-color: rgb(217, 154, 38);
    font-weight: 800;
    cursor: pointer;
}
.right {
    flex: 5;

}

@media (max-width: 768px) {
    .form-wrapper {
        flex-direction: column;
        /* Xếp dọc */
        align-items: center;
        gap: 0px;
    }

    /* Cho .right làm mốc định vị */
    /* .right {
        position: relative;
    } */

    .form-right {
        display: block;
        /* bật lại */
        /* position: absolute; */
        width: 120%;
        text-align: center;
        /* đẩy hình sang phải */
        z-index: 0;
        /* nằm phía sau */
        margin-top: 0;
        
    }

    /* .form-left {
        position: relative;
        z-index: 2;

    } */

    h1 {
        position: relative;
        z-index: 2;
        /* tiêu đề nằm trên hình */
        margin-bottom: 0px;
    }

    .desktop {
        display: none;
    }

    .left {
        display: none;
    }
}









.footer {
    text-align: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 50px;
}