body {
    background-image: url('./img/sky.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position-y: -100px;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
}

.divHeader {
    display: flex;
    width: 1000px;
}

.weatherHeader {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    /* -webkit-text-stroke: 2px black;
    font-size: 20px; */
      text-shadow:
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black,
     0px  2px 0 black,
     2px  0px 0 black,
    -2px  0px 0 black,
     0px -2px 0 black;
}

.weatherHeader {
    flex: 5;
}

.box1Header {
    display: flex;
    justify-content: space-around;
    flex: 5;
}

.buttonHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.buttonHeader > input {
    border-radius: 8px;
    border: 1px solid rgb(121, 121, 121);
    width: 100%;
    height: 35px;
    padding: 0 10px 0 35px;
    /*chỗ bên phải cho icon*/
}
.icon {
    position: absolute;
    padding-left: 10px;
    /* transform: translateY(-px); */
    cursor: pointer;
    color: grey;
}
button {
    margin-left: 10px;
    border-radius: 8px;
    border: 1px solid rgb(236, 171, 50);
    background-color: rgb(236, 171, 50);
    height: 35px;
    width: 65px;
    cursor: pointer;
}
button:hover {
    border: 1px solid rgb(179, 117, 3);
    background-color: rgb(179, 117, 3);
}
main {
    width: 100%;
    height: auto;
}
.weather-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.cardWeather {
  background: rgba(7, 69, 124, 0.5);
  padding: 15px;
  border-radius: 12px;
  backdrop-filter: blur(2px); 
  /* Làm mờ phần nền phía sau phần tử */
}
.divCard {
    display: flex;
    flex-direction: column;
}
.box2 {
    display: flex;
    justify-content: space-between;
}
.h2Div > h2{

    color: white;
    font-family: 'Poppins', sans-serif;
}
.right {
    align-items: right;
}
.pDiv > p {
    margin-bottom: 0px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.p2Div > p {
    margin-top: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
}